header{
    background-color: #4267b2;
}

@media(min-width:768px){
    .container {
        width: 750px !important;
    }

    ul.menu.menu-lista {
        padding-left: 150px !important;
    }

}

html{
    width:100%;

}

.navbar{
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    border-radius: 0px;
}

@media(min-width:768px){
   .navbar{
    height: 40px;
   }
}

a.navbar-brand{
    padding: 10px 0px 0px 30px;
    font-size: 18px;
    color:#fff;
}


@media(max-width:810px){

    .navbar-right {
        padding-right: 25px;
    }

}

body{
    background-color: #e9ebee;
}

.btn-thrid{
    background-color: #d1d1d1;
    border-color: #ffffff;
    border: none;
    color: #bebebe;
}

.form-group.form-pesquisa {
    display: inline-flex;
}

.form-group.form-pesquisa {
    border: 1px solid #525252;
    border-radius: 4px !important;
}

button.button-default.btn-pesquisar {
    margin-left: -8px;
    border-radius: 4px;
}
input#pesquisar {
    border: none;
    height: 30px;
}

.container.pesquisa {
    padding-top: 10px;
}

button.button-default.btn-pesquisar {
    margin-top: 0px;
    width: 40px;
    border: unset;
    background-color: #f5f5f5;
    background-image: URL(/img/lupa.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}



.form-group.form-pesquisa {
    max-width: 400px;
    width: 100%;
}

.col-sm-4 {
    padding-left: 5px;
}

.btn-notify{
    color: #fff;
    font-size: 12px;
    background-color: transparent;
}

.btn-notify.icon {
    padding-right: 10px;
    margin-right: 15px;
}
.btn-notify:hover{
    color: #fff;
    background-color: #44587a;
}

#comunidade{

    background-image: url(/img/icons_face.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -699px;
    height: 24px;
    width: 24px;

} 
#mensagem{

    background-image: url(/img/icons_face.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -724px;
    height: 24px;
    width: 24px;

} 


#notificacao{

    background-image: url(/img/icons_face.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -649px;
    height: 24px;
    width: 24px;

} 


#ajuda{

    background-image: url(/img/icons_face.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -749px;
    height: 24px;
    width: 24px;

}
#opcao{

    background-image: url(/img/icons_face.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -674px;
    height: 24px;
    width: 24px;

}

.divi::after {
    content: "|";
    position: absolute;
    margin-left: 14px;
    color: #384379;
}

.icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -3px;

}

.icon:hover{
    background-color: unset;
}

.icons > div {
    margin-top: -3px;
    margin-left: 5px;
    margin-right: 5px;
}
.icons {
    display: inline-block;
}

.nameLogo{

    display: none;

}


.capa{
    margin-top: -20px;
    display: block;
    width: 100%;
    height: 250px;
    background-color: rgb(207, 207, 207);
}

.menu-timeline ul{

    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
}

.menu-timeline ul li a{
    border-left: 1px solid rgb(219, 219, 219);
}

.ult a{
    border-right: 1px solid rgb(219, 219, 219);  
}

li.menu-lista-timeline {
    padding: 12px 0px;
    display: inline-block;
}

ul.menu.menu-lista {
    padding: unset;
    text-align: center;
}

.menu-lista-timeline a {
    padding: 12px;
    font-weight: bold;
}


.profile-img{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .07);
    max-width: 160px;
    width: 100%;
    height: 160px;
    background-color: #29487d;
    border-radius: 100px;
    border: 5px solid #fff;
   

}

.profile-content{

    top: -190px;
    left: 20px;
    z-index: 99;
    position: relative;


}


.menu-article-content {
    display: inline-block;
    position: relative;
    top: -160px;
}


.apresentacao{
    height: 800px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    padding: 10px 15px 10px 15px;
}

.publicacao{

    height: 200px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    padding: 10px 15px 10px 15px;

}

.col-md-6.app {
    width: 33%;
    margin-left: -15px;
    float: left;
    padding-right: 0px;
}

.col-md-6.time-line {
    width: 65.5%;
    float: right;
    margin-right: 15px;
    padding-left: 0px;
}

.btn-publicar{

    float: right;
    margin-top: 10px;
    background-color: #4267b2;
    color:#fff;

}

.apresentacao-img{
    background-image: url(/img/icon-profile.png);
    background-size: auto;
    background-position: 50% 9%;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 4px;
}

.apresentacao h5 {
    padding-left: 35px !important;
}



@media(max-width:767px){

    .container.pesquisa {
        text-align: center;
    }

    .navbar {
        position: relative;
    }
    .navbar-brand {
        position: relative;
        left: 50%;
        margin-left: -100px !important;  /* 50% of your logo width */
        display: block;
    }
      .navbar-brand>img {
        display: block;
        float: left;
    }

    .nameLogo{
        font-family: Facebold;
        font-size: 20px;
        display: inline-block;
        padding-top: 10px;
        padding-left: 5px;
    }


    .profile-content{sss
        top:-220px;
    }

    .row.row-mob {
        width: 100%;
    }

}

@media(max-width:513px){
    .menu-timeline ul li a{
        border-left: unset;
    }
    
    .ult a{
        border-right: unset;  
    }

}

@media(max-width:507px){


    .profile-content{
        top:-265px;
    }
    
    .col-md-6.app {
        display: none !important;
    }

    .col-md-6.time-line {
        width: 97%;
    }
}
